body{
    text-align: center;
    background-color: #fdfffc;
}

.btn-container{
    display:flex;
    justify-content: center;
    
}
.btn{
    height: 250px;
    width: 250px;
    border-radius: 20%;
    border:5px solid black;
    margin:2.4rem;
    box-shadow: 0px 0px 15px 2px black;

}
#red{
    background-color: #e71d35f4;

}
#yellow{
    background-color: #ff9f1c;

}
#green{
    background-color: #2ec4b6;

}
#blue{
    background-color: #1b9aaa;

}
.flash{
    background-color: white !important;
}
